<!-- matches.component.html -->
<mat-table [dataSource]="matches" class="mat-elevation-z8">
    <ng-container matColumnDef="equipo1">
      <mat-header-cell *matHeaderCellDef> Equipo 1 </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.team1.teamName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="equipo2">
      <mat-header-cell *matHeaderCellDef> Equipo 2 </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.team2.teamName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="golesEquipo1">
      <mat-header-cell *matHeaderCellDef> Goles Equipo 1 </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.golesTeam1}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="golesEquipo2">
      <mat-header-cell *matHeaderCellDef> Goles Equipo 2 </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.golesTeam2}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <button mat-raised-button color="primary" (click)="openAddMatchModal()">Agregar Partido</button>
  