.example-container {
    width: auto;
    height: 100vh;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
  }

.menu{
    display: flex;
    flex-direction: column;
}

.content{
    margin: 0 auto;
    width: 80%;
    padding: 40px;
}

.example-spacer {
    flex: 1 1 auto;
  }


  mat-drawer{
    padding: 18px;
  }

  mat-list{
    width: 200px;
  }

  .login-logo{

    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100px;

    }
  }