<form [formGroup]="matchForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Equipo 1</mat-label>
      <mat-select formControlName="team1">
        <mat-option *ngFor="let team of filteredTeams1" [value]="team">
          {{ team.teamName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <input matInput type="number" formControlName="golesTeam1" placeholder="Goles del equipo 1">  
    <span>VS</span>   
  
    <mat-form-field>
      <mat-label>Seleciona Equipo 2</mat-label>
      <mat-select formControlName="team2">
        <mat-option *ngFor="let team of filteredTeams2" [value]="team">
          {{ team.teamName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <input matInput type="number" formControlName="golesTeam2" placeholder="Goles del equipo 2">
    

    <button mat-button type="submit" [disabled]="!matchForm.valid">Guardar</button>
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  
    <!-- Add more fields and a submit button here -->
  </form>
  